:root{
--Nutmeg: hsl(14, 45%, 36%);
--Dark-Raspberry: hsl(332, 51%, 32%);
--White: hsl(0, 0%, 100%);
--Rose-White: hsl(330, 100%, 98%);
--Eggshell: hsl(30, 54%, 90%);
--Light-Grey: hsl(30, 18%, 87%);
--Wenge-Brown: hsl(30, 10%, 34%);
--Dark-Charcoal: hsl(24, 5%, 18%);
}
@font-face {
    font-family: Outfit;
    src: url(../assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}
@font-face {
    font-family: Young-Serif;
    src: url(../assets/fonts/young-serif/YoungSerif-Regular.ttf);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--Eggshell);
    font-size: 16px;
    font-family: Young-Serif;
}
main{
    width: 700px;
    border-radius: 30px;
    background-color: var(--White);
    color: var(--Wenge-Brown);
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 4%;
    padding-bottom: 2%;
    gap: 2rem;
}
main img{
    width: 100%;
    border-radius: 10px;
}
main section{
    border-bottom: 1px solid var(--Light-Grey);
}
.pre{
    background-color: var(--Rose-White);
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 3rem;
    padding-top: 2rem;
    border-radius: 10px;
    font-family: Outfit-Bold;
    font-weight: 400;
}
.pre ul li::marker{
    color: var(--Dark-Raspberry);
}
h1{
    font-family: Young-Serif;
    text-justify: auto;
    letter-spacing: 2px;
    color: var(--Dark-Charcoal);
}
h2{
    font-family: Youngg-Serif;
    font-size: xx-large;
    color: var(--Nutmeg);
}
h3{
    font-family: Outfit;
    font-weight: 700;
    color: var(--Dark-Raspberry);
}
p{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-family: Outfit;
}
ul{
    list-style: inside disc;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-family: Outfit;
}
ul li::marker{
    color: var(--Nutmeg);
}
ol{
    list-style: outside decimal;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-left: 2rem;
    font-family: Outfit;
}
ol li::marker{
    color: var(--Nutmeg);
}
li{
    padding: 0.5rem;
}
table{
    font-family: Outfit;
    width: 100%;
    border-collapse: collapse;
}
tr{
    border-bottom: 1px solid var(--Light-Grey);
}
td{
    text-indent: 2rem;
    width: 50%;
    padding: 0.5rem;
}
th{
    color: var(--Nutmeg);
    text-align: left;
}
.last{
    border-bottom: none;
}
.attribution { font-size: 11px; text-align: center;}
.attribution a { color: var(--Dark-Raspberry); text-decoration: none;}
@media(max-width:700px){
    main{
        width: 100%;
        background-color: var(--White);
        margin: 0;
        border-radius: 0;
        padding: 0;
    }
    main img{
        width: 100%;
        border-radius: 0;
    }
    main section{
        padding: 2rem;
        width: 85%;
        margin:auto;
    }
    .attribution{
        background-color: var(--Rose-White);
    }
}